@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Carattere&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Balthazar&family=Carattere&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.carattere-regular {
  font-family: "Carattere", cursive;
  font-weight: 500;
  font-style: normal;
}
.open-sans-1 {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.invert{
  filter: invert(10%) brightness(200%);
}



@media (max-width: 350px) {
  .responsive {
    margin-top: 180px;
  }
}

@media (max-width: 300px) {
  .responsive {
    margin-top: 240px;
  }
}
@media (max-width: 250px) {
  .responsive {
    margin-top: 300px;
  }
}